{% for message in app.session.flashbag.get('sucess') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashbag.get('danger') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}