<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">

    <title>{% block title %}{% endblock %}</title>

    {{ encore_entry_link_tags('app') }}

    {% block stylesheets %}{% endblock %}

</head>
<body>
    <h1>Front...</h1>
    {% block body %}{% endblock %}

    {{ encore_entry_script_tags('app') }}

    {% block javascripts %}{% endblock %}
</body>
</html>