{% extends 'front.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success btn-lg">Criar Conta</button>
    {{ form_end(form) }}
{% endblock %}