{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1>Criar Produto</h1>
            </div>
            <hr>
        </div>

        <div class="col-12">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-lg btn-success">Criar Produto</button>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}