{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1>Editar Produto</h1>
            </div>
            <hr>
        </div>

        <div class="col-12">

            {% include 'admin/product/_form.html.twig' with {'buttonText': 'Atualizar Produto', 'buttonType': 'btn-warning'} %}

        </div>

        <div class="col-12 mt-5">
            <h3>Imagens Produto</h3>
            <hr>
            <div class="row">
                {% for photo in productPhotos %}
                    <div class="col-3 mb-3">
                        <img src="{{ '/uploads/products/' ~ photo.photo }}" alt="" class="img-fluid">
                        <a href="{{ path('admin_product_photo_remove', {'productPhoto': photo.id }) }}" class="btn btn-sm btn-danger">Remover</a>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}